{{ partial "header" . }}

{{ if .Content }}
<div class='entry'>
  {{ partial "entry/cover" . }}
  {{ partial "entry/content" . }}
</div>
{{ end }}


<hr>

This is the homepage and blog of Rafael Tieppo, Agricultural Engineering
at <a href="http://tangara.unemat.br/agronomia/">UNEMAT</a>. For more
about me, <a href="/about" style="text-decoration: underline">see
        here.</a> 
<p>
    <br>
    
<h3>Recent Posts</h3>
{{ range $.Site.Home.Sections  }}
    {{ range first 5 (where .Data.Pages "Type" "blog") }}
        <article class="archive-item">
        <i><a href="{{ .Permalink }}" class="archive-item-link">{{ .Title }}</a></i><br>
        {{ .Date.Format "January 2, 2006" }}
        {{range .Params.tags }}
        <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}"><kbd class="item-tag">{{ . }}</kbd></a>
        {{ end }}
        <br><br>
        </article>        
    {{ end }}
{{ end }}

<hr>
<hr>
<!-- List for recent posts
{{- $homepageWidgets := .Site.Params.widgets.homepage -}}
{{- if $homepageWidgets -}}
<div class='home-widgets'>
  <div class='container sep-before'>
    {{- partial "extras/widget_area" ( dict "Widgets" $homepageWidgets "Scope" . ) -}}
  </div>
</div>
{{- end -}}
-->
{{ partial "footer" . }}
