{{ partial "header" . }}

{{ partial "nav/entry_nav" . }}
<hr>
<p>
<h1>Teaching</h1>

Professor at <a href="http://tangara.unemat.br/agronomia/">State
    University of Mato Grosso</a> - Agricultural Engineering Department. 

<h5>Geoprocessing</h5>

<ul>
    <li> Graduate level introduction to the concepts of datum, projections,
        interpolations, data analysis.</li>
    <li>TGAD852GEOA-194883</li>                                                
    <li>Portuguese                                                       </li>
    <li>Advance info click <a href="http://docente.unemat.br/rafaeltieppo/">HERE</a></li>
 </ul>

<h5>Agricultural machinery management</h5>

<ul>
    <li>Graduate level, an approach to sizing, planning and management for agricultural machinery</li>
    <li>TGAD852MECA-195025</li>
    <li>Portuguese</li>
    <li>Advance info click <a href="http://docente.unemat.br/rafaeltieppo">HERE</a></li>

{{ partial "entry/comments" . }}

{{ partial "footer" . }}
